<!DOCTYPE html>
<html lang="zn-CH">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <title>Dnion后台管理系统</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->
</head>
<body>
<div id="wrap" class="container-fluid">
    <!--导航-->
    <nav class="navbar-default navbar my-navbar-head">
        <div class="container-fluid">
            <!--导航栏头公司logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Dnion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../favicon.ico">
                </a>
            </div>
            <!--导航栏-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">公司首页</a></li>
                    <li><a href="../index.html">产品简介</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">后台管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">已购证书</a></li>
                            <li><a href="#">未完成订单</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">其他</li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">购买新证书</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!--搜索框可以删除-->
                        <form id="global_search" class="form-search navbar-form">
                            <input class="input-medium search-query" type="text" name="search"/>
                            <button type="submit" class="btn">查找</button>
                        </form>
                    </li>
                    <!--用户信息-->
                    <li><img class="navbar-btn" src="../img/defautl.png"width="20" height="20"></li>
                    <li class="dropdown">
                        <a id="uName" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">UserName</a>
                        <ul class="dropdown-menu">
                            <li>修改用户信息</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--主体-->
    <div class="row-fluid my-main">
        <div class="span12">
            <div class="tabbable" id="tabs-160727">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-had" data-toggle="tab">已有证书</a>
                    </li>
                    <li>
                        <a href="#panel-handling" data-toggle="tab">处理订单</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active row-fluid" id="panel-had">
                            <div class="span12">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>
                                            证书编号
                                        </th>
                                        <th>
                                            域名
                                        </th>
                                        <th>
                                            有效期限
                                        </th>
                                        <th>
                                            状态
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr >
                                        <td colspan="4">
                                            <p>您还没有证书</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="tab-pane" id="panel-handling">
                        <table>
                            <tr>
                                <td>名称</td>
                                <td>订单号</td>
                            </tr>
                            <tr>
                                <td>
                                    没有未处理订单
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-push-2">
            <button type="button" class="btn-default btn">购买新证书</button>
            <!-- 导入证书 -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert">
                导入已有证书
            </button>

            <!-- 模态框 -->
            <div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">导入证书</h4>
                        </div>
                        <div class="modal-body">
                            <p>所需信息</p>
                            <div class="alert-danger">
                                <h4>
                                    提示!
                                </h4>
                                <strong>我们需要您证书的名称与您的私匙&nbsp</strong>
                                <a tabindex="0" class="right" role="button" data-toggle="popover" data-trigger="focus" title="需要他们的原因" data-content="因为就是需要">
                                为什么需要
                                </a>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="add-name">证书名称</span>
                                <input type="text" class="form-control" placeholder="（必填）只允许英文字母等" aria-describedby="add-name">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="add-file">证书文件</span>
                                <textarea class="form-control" placeholder="（必填）pem编码" aria-describedby="add-file"></textarea>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="add-key">证书私匙</span>
                                <textarea class="form-control" placeholder="（必填）pem编码" aria-describedby="add-key"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class=""></div>

        </div>
        <div class="col-lg-4 col-lg-push-2">
            <!-- 页码 -->
            <nav aria-label="Page navigation" class="navbar-right">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li class="disabled">
                        <a href="#" aria-label="Next" >
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!--页脚-->
<div id="footer">
    <div class="container">
        <nav class="navbar-default">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">公司首页</a></li>
                    <li><a href="../index.html">产品简介</a></li>
                    <li><a href="#">后台管理 </a></li>
                    <li><a href="#">购买新证书</a> </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <p class="muted credit">上海帝联科技</p>
    </div>
</div>


<script src="../js/main.js"></script>
<script src="../js/vendor/jquery-3.1.1.js"></script>
<script src="../js/vendor/bootstrap.js"></script>
</body>
</html>
